@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header {
  width: 100%;
  height: 100px;
  background-color: #DDDDDD;
  border-radius: 0 0 5px 5px;
}

body footer {
  width: 100%;
  height: 100px;
  background-color: #DDDDDD;
  border-radius: 5px 5px 0 0;
}

.container {
  width: 100%;
  height: 420px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .carousel_top {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.container .carousel_top__slider {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .carousel_top__slider img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  margin-left: 10px;
}

.container .carousel_bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
}

.container .carousel_bottom__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .carousel_bottom__slider img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  margin-left: 10px;
}

.container__controls {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container__controls .arrow {
  background-color: white;
  width: 60px;
  height: 60px;
  border: 1px solid #134880;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__controls .arrow img {
  width: 40%;
  height: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container__content {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 30%;
}

.container__content__title {
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin: 0;
  color: #134880;
}

.container__content__description {
  font-size: 1.125rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */